<div class='container-fluid'>
    <div class='row center-col'>
      <div class='offset-md-4 col-md-4'>
          <h1> Welcome to Tacolator3.0 </h1>
      </div>
    </div>
    <% @menu_item.each_slice(3) do |f| %>
 <div class='offset-md-3 col-md-8 above-row-spacing'>
     <div class='row center-col'>
         <div class='offset-md-3 col-md-3 center-buttons'>
            <% f.each do |j| %>
            <h6>
                <%= j.name %>
            </h6>
        </div>
        <% end %>
     </div>
 </div>
 <div class='col-md-9 above-row-spacing'>
     <div class='row center-col'>
         <% f.each do |i| %>
        <div class='col-md-2 picture-spacing'>
            <%=link_to(image_tag(i.images, class: 'image-responsive'),
                       size:"10x10", alt: "example image", value:"200")%>
        <div class="center-buttons">
            <h6>Calories:200 Price:1.89</h6>
        </div>
        </div>
    <% end %>
    <br>
    <% end %>
</div>
